## Imports

In [3]:
import pandas as pd
import sqlite3

In [4]:
db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'  # change this to your actual path
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

## Database Manipulation

In [13]:
db_path = db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [ ]:
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

cursor.execute('''
ALTER TABLE players ADD COLUMN href TEXT
''')

conn.commit()
conn.close()

print("Added 'href' column to players table.")

Added 'href' column to players table.

In [27]:

db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Drop table if exists
cursor.execute('DROP TABLE IF EXISTS players;')

# Create table
cursor.execute('''
    CREATE TABLE players (
        mlb_player_id INTEGER PRIMARY KEY,
        name TEXT,
        position TEXT,
        team TEXT,
        dob TEXT,
        bats TEXT,
        throws TEXT,
        weight INTEGER,
        href TEXT
    );
''')

conn.commit()
conn.close()

print('✅ Table reset complete!')

✅ Table reset complete!

In [ ]:
# Drop old injuries table if exists
db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Drop old injuries table if exists
cursor.execute('DROP TABLE IF EXISTS injuries;')

# Recreate injuries table with updated reference
cursor.execute('''
CREATE TABLE injuries (
    injury_id INTEGER PRIMARY KEY AUTOINCREMENT,
    mlb_player_id INTEGER,
    injury_type TEXT,
    il_type TEXT,
    injury_start DATE,
    injury_end DATE,
    notes TEXT,
    FOREIGN KEY (mlb_player_id) REFERENCES players(mlb_player_id)
);
''')

conn.commit()
conn.close()

print('✅ Injuries table reset and updated!')

✅ Injuries table reset and updated!

In [29]:

# Connect to your database
db_path = db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'
conn = sqlite3.connect(db_path)

# Run your query BEFORE closing the connection
query = 'SELECT * FROM players'
df = pd.read_sql_query(query, conn)

print(df.head(5))

   mlb_player_id             name position                 team         dob  \
0         472610      Luis García     None  Los Angeles Dodgers  01/30/1987
1         477132  Clayton Kershaw     None  Los Angeles Dodgers  03/19/1988
2         489446      Kirby Yates     None  Los Angeles Dodgers  03/25/1987
3         500743     Miguel Rojas     None  Los Angeles Dodgers  02/24/1989
4         518692  Freddie Freeman     None  Los Angeles Dodgers  09/12/1989

  bats throws  weight            href
0    R      R     240  /player/472610
1    L      L     225  /player/477132
2    L      R     205  /player/489446
3    R      R     188  /player/500743
4    L      R     220  /player/518692

In [31]:
db_path = db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'
conn = sqlite3.connect(db_path)

# Run your query BEFORE closing the connection
query = 'SELECT * FROM injuries'
df = pd.read_sql_query(query, conn)

print(df.head(5))

Empty DataFrame
Columns: [injury_id, mlb_player_id, injury_type, il_type, injury_start, injury_end, notes]
Index: []

In [1]:

# Connect to the database
db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Get all table names except 'players', 'injuries', and system table 'sqlite_sequence'
cursor.execute("""
               
    SELECT name FROM sqlite_master 
    WHERE type='table' 
    AND name NOT IN ('players', 'injuries', 'sqlite_sequence', 'career_fielding_stats', 'career_hitting_stats' , 'career_pitching_stats, player_stats');
    
""")
tables = cursor.fetchall()

# Drop each table
for (table_name,) in tables:
    print(f"Dropping table: {table_name}")
    cursor.execute(f"DROP TABLE IF EXISTS '{table_name}';")  # use quotes for safety

# Commit changes and close connection
conn.commit()
print("✅ All unnecessary tables dropped!")

NameError: name 'sqlite3' is not defined

In [14]:

cursor = conn.cursor()

# Drop the table
cursor.execute('DROP TABLE IF EXISTS player_stats;')

# Commit and close
conn.commit()
conn.close()

print("✅ Table 'player_stats' dropped successfully.")

✅ Table 'player_stats' dropped successfully.

In [16]:
import sqlite3

db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Drop the old table if it exists
cursor.execute('DROP TABLE IF EXISTS player_stats;')

# Recreate the table with clearer column names
cursor.execute('''
CREATE TABLE player_stats (
    mlb_player_id TEXT PRIMARY KEY,
    name TEXT,
    type TEXT,          -- pitcher or hitter
    games TEXT,         -- G
    wins TEXT,          -- W (pitcher)
    losses TEXT,        -- L (pitcher)
    era TEXT,           -- ERA (pitcher)
    innings_pitched TEXT, -- IP (pitcher)
    strikeouts TEXT,    -- SO (pitcher)
    whip TEXT,          -- WHIP (pitcher)
    at_bats TEXT,       -- AB (hitter)
    runs TEXT,          -- R (hitter)
    hits TEXT,          -- H (hitter)
    home_runs TEXT,     -- HR (hitter)
    rbi TEXT,           -- RBI (hitter)
    stolen_bases TEXT,  -- SB (hitter)
    avg TEXT,           -- AVG (hitter)
    obp TEXT,           -- OBP (hitter)
    ops TEXT            -- OPS (hitter)
);
''')

conn.commit()
conn.close()

print("✅ 'player_stats' table dropped and recreated with descriptive column names.")

✅ 'player_stats' table dropped and recreated with descriptive column names.

## New Player Stats tables

In [47]:
db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'  # change this to your actual path
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [3]:

query1 = 'DROP TABLE IF EXISTS career_fielding_stats'
query2 = 'DROP TABLE IF EXISTS career_hitting_stats'
query3 = 'DROP TABLE IF EXISTS career_pitching_stats'

cursor.execute(query1)
cursor.execute(query2)
cursor.execute(query3)
conn.commit()

In [ ]:
#New table creation template 

import sqlite3

# SQL query to create the table
create_table_query = '''



'''

# Execute the query
cursor.execute(create_table_query)
conn.commit()

print("Table 'career_pitching_stats' created successfully!")

# Close the connection
conn.close()

In [4]:
#New table creation template 

import sqlite3

# SQL query to create the table
create_table_query = '''

CREATE TABLE career_fielding_stats (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    mlb_player_id TEXT,
    season TEXT,
    team TEXT,
    league TEXT,
    position TEXT,
    games INTEGER,
    games_started INTEGER,
    innings REAL,
    total_chances INTEGER,
    putouts INTEGER,
    assists INTEGER,
    errors INTEGER,
    double_plays INTEGER,
    passed_balls TEXT,
    stolen_bases TEXT,
    caught_stealing TEXT,
    range_factor TEXT,
    fielding_percentage TEXT
);

'''

# Execute the query
cursor.execute(create_table_query)
conn.commit()

print("Table 'career_pitching_stats' created successfully!")

Table 'career_pitching_stats' created successfully!

In [5]:
#New table creation template 

import sqlite3

# SQL query to create the table
create_table_query = '''

CREATE TABLE career_hitting_stats (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    mlb_player_id TEXT,
    season TEXT,
    team TEXT,
    league TEXT,
    games INTEGER,
    plate_appearances INTEGER,
    at_bats INTEGER,
    runs INTEGER,
    hits INTEGER,
    doubles INTEGER,
    triples INTEGER,
    home_runs INTEGER,
    runs_batted_in INTEGER,
    stolen_bases INTEGER,
    caught_stealing INTEGER,
    walks INTEGER,
    strikeouts INTEGER,
    batting_average TEXT,
    on_base_percentage TEXT,
    slugging_percentage TEXT,
    on_base_plus_slugging TEXT,
    total_bases INTEGER,
    grounded_into_double_play INTEGER,
    hit_by_pitch INTEGER,
    sacrifice_hits INTEGER,
    sacrifice_flies INTEGER,
    intentional_walks INTEGER
);

'''

# Execute the query
cursor.execute(create_table_query)
conn.commit()

print("Table 'career_hitting_stats' created successfully!")

Table 'career_hitting_stats' created successfully!

In [6]:
#New table creation template 

import sqlite3

# SQL query to create the table
create_table_query = '''

CREATE TABLE career_pitching_stats (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    mlb_player_id TEXT,
    season TEXT,
    team TEXT,
    league TEXT,
    wins INTEGER,
    losses INTEGER,
    earned_run_average TEXT,
    games INTEGER,
    games_started INTEGER,
    saves INTEGER,
    save_opportunities INTEGER,
    innings_pitched REAL,
    hits INTEGER,
    runs INTEGER,
    earned_runs INTEGER,
    home_runs INTEGER,
    walks INTEGER,
    strikeouts INTEGER,
    whip TEXT,
    opposing_batting_average TEXT
);

'''

# Execute the query
cursor.execute(create_table_query)
conn.commit()

print("Table 'career_pitching_stats' created successfully!")

Table 'career_pitching_stats' created successfully!

In [48]:

# Query each table
fielding_df = pd.read_sql_query("SELECT * FROM career_fielding_stats", conn)
hitting_df = pd.read_sql_query("SELECT * FROM career_hitting_stats", conn)
pitching_df = pd.read_sql_query("SELECT * FROM career_pitching_stats", conn)

Viewing the databases

In [52]:
fielding_df.head(5)

Empty DataFrame
Columns: [id, mlb_player_id, season, team, league, position, games, games_started, innings, total_chances, putouts, assists, errors, double_plays, passed_balls, stolen_bases, caught_stealing, range_factor, fielding_percentage]
Index: []

In [53]:
hitting_df.head(5)

Empty DataFrame
Columns: [id, mlb_player_id, season, team, league, games, plate_appearances, at_bats, runs, hits, doubles, triples, home_runs, runs_batted_in, stolen_bases, caught_stealing, walks, strikeouts, batting_average, on_base_percentage, slugging_percentage, on_base_plus_slugging, total_bases, grounded_into_double_play, hit_by_pitch, sacrifice_hits, sacrifice_flies, intentional_walks]
Index: []

[0 rows x 28 columns]

In [54]:
pitching_df.head(5)

Empty DataFrame
Columns: [id, mlb_player_id, season, team, league, wins, losses, earned_run_average, games, games_started, saves, save_opportunities, innings_pitched, hits, runs, earned_runs, home_runs, walks, strikeouts, whip, opposing_batting_average]
Index: []

[0 rows x 21 columns]

## New Game log Table

In [4]:
# Create game_logs table if it doesn't exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS game_logs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    mlb_player_id INTEGER,
    game_date TEXT,
    team TEXT,
    opponent TEXT,
    ab INTEGER,
    r INTEGER,
    h INTEGER,
    tb INTEGER,
    doubles INTEGER,
    triples INTEGER,
    hr INTEGER,
    rbi INTEGER,
    bb INTEGER,
    ibb INTEGER,
    so INTEGER,
    sb INTEGER,
    cs INTEGER,
    avg REAL,
    obp REAL,
    slg REAL,
    hbp INTEGER,
    sac INTEGER,
    sf INTEGER,
    UNIQUE(mlb_player_id, game_date)
)
''')

print("Game logs table created successfully!")

Game logs table created successfully!

## Drop Unnecessary Tables

In [ ]:

# Connect to the database
db_path = '/Users/daniellarson/Desktop/Code/Projects/dodgers_injtrkr/data/dodgers_injury_db.sqlite'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Get all table names except 'players', 'injuries', and system table 'sqlite_sequence'
cursor.execute("""
               
    SELECT name FROM sqlite_master 
    WHERE type='table' 
    AND name NOT IN ('players', 'injuries', 'sqlite_sequence', 'career_fielding_stats', 'career_hitting_stats' , 'career_pitching_stats, player_stats');
    
""")
tables = cursor.fetchall()

# Drop each table
for (table_name,) in tables:
    print(f"Dropping table: {table_name}")
    cursor.execute(f"DROP TABLE IF EXISTS '{table_name}';")  # use quotes for safety

# Commit changes and close connection
conn.commit()
print("✅ All unnecessary tables dropped!")